div.header{
    height: 80px;
    width: 100%;
    align-items: center;
    text-align: center!important;
    border: 3px;
}
div.n1 {
    background: darkseagreen;
    height: 100%;
}
p {

   // margin-top: auto;
    font-family: "Comic Sans MS";
    font-size: 3rem;
}
input#innum {

    font-size: 3rem;
    height: 3rem;
    width: 167px;

}
span.main {
    background: chartreuse;
    width: 11rem;
    border: chocolate;
    border-radius: 3rem;
    padding: 3rem;
    height: 100%;
    display: flex;
}
button {
    font-size: 3rem;
}
div.footer{
    height: 80px;
    width: 100%;
    text-align: center!important;
}